extends layout

block content
  h1= title
  p Welcome to anyway
  //- video(src="https://www30.zippyshare.com/downloadM4V?key=eYbD2fjC&res=ORG&time=228356", autoplay, controls)
  //-   source(src="https://www30.zippyshare.com/downloadM4V?key=eYbD2fjC&res=ORG&time=228356", type="video/mp4")

  <script type="text/javascript" src="https://file.fm/embed/playerv2?hash=dvatc2u5&autoplay=off&autoload=off&w=100%&h=auto&poster_src=https://file.fm/thumb_video_picture.php?i=dvatc2u5" id="filesfm_embed_js__dvatc2u5"></script>
